.wrapper {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 100%;

  .svg {
    margin-bottom: 60px;
  }

  img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
  }
}

.wrapper {
  &.medium {
    width: 36px;
    height: 36px;
  }
  &.extra-medium {
    width: 60px;
    height: 60px;
  }
  &.big {
    width: 88px;
    height: 88px;
  }
}

.bordered {
  border-width: 2px;
  border-style: solid;
}
