.wrapper {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 50px;
}

.userName {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #819090;
}

.additional {
  font-family: sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #7a8585;
}

.info {
  margin-left: 8px;
}
