@import '../../themes/vars';

.header {
  background-color: #ffffff;
}

.sider {
  box-shadow: fade($primary-color, 10%) 0 0 28px 0;
  z-index: 10;
  height: calc(100vh - 72px);
  overflow-x: hidden;
  flex: 1;
}

.brand {
  z-index: 1;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 24px;
  box-shadow: 0 1px 9px -3px rgba(0, 0, 0, 0.2);
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 36px;
      margin-right: 8px;
    }

    h1 {
      vertical-align: text-bottom;
      font-size: 16px;
      text-transform: uppercase;
      display: inline-block;
      font-weight: 700;
      color: $primary-color;
      white-space: nowrap;
      margin-bottom: 0;
      @include text-gradient();

      :local {
        animation: fadeRightIn 300ms ease-in-out;
        animation-fill-mode: both;
      }
    }
  }
}


@keyframes fadeLeftIn {
  0% {
    transform: translateX(5px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

  
.toggler {
  width: 72px;
  height: 72px;
  line-height: 72px;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.toggler:hover {

}
